@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: hsl(264, 5%, 80%);
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;

}

p {
  margin: 0;
}

.app {
  background-color: white;
  background: url("./assets/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 30vw 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  padding: 6rem 8rem; 
  box-sizing: border-box;
}

.cards {
  width: 60%;
  max-width: 600px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 6rem;
  max-width: 600px;
}

.card-1, .card-2, .form-exp-cvv {
  display: flex;
}

.card-upper {
  display: flex;
  justify-content: start;
  margin-bottom: 1.75rem;
}

.card-lower {
  display: flex;
  justify-content: end;
}

.card-1 {
  background: url("./assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 230px;
  width: 400px;

  padding: 2rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.card-1 > img {
  height: 40px;
  width: 70px;
}


.card-upper-content {
  color: white;
}

.card-upper-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 1rem;
  letter-spacing: 2px;
}

.card-number {
  /* text-align: center; */
  font-size: 23px;
  letter-spacing: 4.2px;
}

.card-2 {
  background: url("./assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 230px;
  width: 400px;
  justify-content: end;

  box-sizing: border-box;
  padding: 6.5rem 3rem;
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
}

.form-exp-cvv {
  margin-top: 1.75rem;
}

.form-exp-cvv-field-1-inputs {
  display: flex;
}

.error {
  margin: 3px;
  font-size: 11px;
  color: hsl(0, 100%, 66%);
}

label {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1.75rem;
}

input {
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.25rem;
  transition: 0.3s ease;
}

input:focus {
  border-color: hsl(278, 68%, 11%);
}

.form-exp-cvv-field-1, .form-exp-cvv-field-2  {
  width: 50%;
}

.form-exp-cvv-field-1 {
  margin-right: 1rem;
}

.form-exp-cvv-field-1-inputs {
  width: 100%;
}

.form-exp-cvv-inputs-1,.form-exp-cvv-inputs-2  {
  width: 50%;
  margin-right: 0.5rem ;
}

button {
  border: none;
  background-color: hsl(278, 68%, 11%);
  border-radius: 8px;
  color: white;
  padding: 1rem 2rem;
  margin: 1.75rem 0;
  transition: 0.3s ease;
}

button:hover {
  background-color: hsl(277, 55%, 26%);
  filter: drop-shadow(0px 6px 6px #f1c4f7);

}

.complete {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 6rem;
}

.complete > img {
  height: 80px;
  width: 80px;
}

.complete button {
  width: 80%;
}

.complete p {
  color: hsl(0, 0%, 44%);
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .app {
    padding: 6rem 6rem; 
  }
}


@media screen and (max-width: 1100px) {
  .app {
    padding: 6rem 4rem; 
  }
  form {
    padding: 3rem 3rem;
  }
}


@media screen and (max-width: 930px) {
  .app {
    flex-direction: column; 
    width: 100%;
    color: white;
  }

  .cards, form {
    width: 100%;
  }

  .cards {
    position: relative;
    height: 230px;
  }

  .card-upper{
    position: absolute;
    z-index: 100;
    bottom: -60px;
  }

}


@media screen and (max-width: 820px) {
  .app {
    background: url("./assets/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100vw 30vh; 
    color: rgb(16, 16, 16);
  }

  .card-upper{
    bottom: -150px;
  }

  .cards {
    margin-bottom: 5rem;
  }
}



@media screen and (max-width: 580px) {
  .app {
    padding: 3rem 2rem; 
  }

  .card-1, .card-2 {
    width: 290px;
    height: 180px;
  }

  .card-upper{
    bottom: -100px;
  }
  .card-2 {
    padding: 5rem 2.25rem;
  }

  .card-1 p, .card-2 p{
    font-size: 14px;
    letter-spacing: 3px;
  }

  .card-1 {
    padding: 1.25rem 1.5rem;
  }

  .card-1 img {
    height: 20px;
    width: 38px;
  }

  .card-upper-info p {
    font-size: 10px;
  }

  .complete {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 4rem;
  }
}